.feature_bar_aside {
  min-width: calc(var(--size-9) * 15);
}

.feature_bar {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(var(--size-10), 80px));
  min-height: 100vh;
  max-height: 100vh;
  padding-bottom: var(--size-9);
  border-right: 1px solid;
  background: var(--color-f5f5f5);
  background: var(--color-ebebeb);
}
