.filterBar{
  min-width: calc(var(--size-9) * 20);
  /* max-width: calc(var(--size-9) * 20); */
  background-color: #e5e5e5;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 16px;
}

.filterSection {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  border-bottom: 4px solid lightgray;
  padding: var(--size-4);
  background-color: #e5e5e5;
  top: 0;
  position: sticky;
  z-index: 10;
}

.filterButton {
  border: 0;
  margin-left: var(--size-5);
  background-color: #e5e5e5;
}

.filterIcon {
  cursor: pointer;
}

.filterIcon:hover {
  font-weight: bold;
}
