.filterBar {
  min-width: calc(var(--size-9) * 20);
  /* background-color: var(--color-e5e5e5); */
  background: var(--white);
  background: #f5f5f5;
  background: #ebebeb;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: var(--size-9);
}

.filterSection {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  border-bottom: var(--size-3) solid var(--color-light-gray);
  padding: var(--size-4);
  /* background-color: var(--color-e5e5e5); */
  background: var(--white);
  background: #f5f5f5;
  background: #ebebeb;
  top: 0;
  position: sticky;
  z-index: 10;
}

.filterButton {
  border: 0;
  margin-left: var(--size-5);
  /* background-color: var(--color-e5e5e5); */
  background: var(--white);
  background: #f5f5f5;
  background: #ebebeb;
}

.filterIcon {
  cursor: pointer;
}

.filterIcon:hover {
  font-weight: bold;
}
