:root{
    --color-light-gray : lightgray;
    --color-eaeaea: #eaeaea;
    --color-lightslategrey: lightslategrey;
     --color-e5e5e5: #e5e5e5;
     --color-3a3a3a: #3a3a3a;
     --color-white-stroke: #fff;
     --color-2d2d2d: #2d2d2d;
}