.searchBox {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  background: var(--white);
  border: var(--size-1) solid var(--color-light-gray);
  border-radius: var(--size-3);
  padding: var(--size-6) var(--size-4);
}

.searchButton {
  border: 0;
  background: var(--white);
  margin-right: var(--size-3);
}

.searchInput {
  max-width: calc(var(--size-9) * 16);
  border: 0;
}

.searchInput:focus {
  border: 0;
  outline: 0;
}

.searchIcon {
  cursor: pointer;
}

.searchIcon:hover {
  font-weight: bold;
}
